body {
    font-family: 'Muli', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.navbar {
    background-color:rgb(170, 140, 134); }
    
.jumbotron {
    padding: 0px;
    background-image: url("../img/woodworker1.jpg");
    background-size: 100%; 

}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
  
}